<p>
  {{link-to "Post list" "posts.index" }}
</p>

<h1>Post show</h1>

<p>
  <strong>Title:</strong>
  <span>{{model.title}}</span>
</p>

<p>
  <strong>Body:</strong>
  <span>{{model.body}}</span>
</p>

<p>
  <strong>Published at:</strong>
  <span>{{model.publishedAt}}</span>
</p>

